@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: #000000;
}
.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}
@font-face {
  font-family: 'Bright Demo';
  src: url('/src/assets/fonts/Bright DEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
